<%= form_for(@post) do |f| %>

<% if @post.errors.any? %>
<ul>
	<% @post.errors.full_messages.each do |msg| %>
	<li><%= msg %></li>
 	<% end %>
 </ul>
 <% end %>

<div class="field">

	<%= f.label :title %>
	<%= f.text_field :title %>

</div>

<tr>
  <th><%= f.label :category_id %></th>
  <td><%= f.collection_select :category_id, Category.all, :id, :name %></td>
</tr>

<div class="field">

	<%= f.label :content %>
	<%= f.text_field :content %>
	※ :content の後に:rows => 5つけるとエラー

</div>

<div class="field">
  <%= f.label :avatar %>
  <%= f.file_field :avatar %>
</div>

<div class="actions">
	<%= f.submit %>
</div>



<% end %>