
<h3>now you are in my first blog page!</h3>
<h2>Posts</h2>
<%= form_for @search_form, :url => posts_path,
  :html => {:method => :get} do |f| %>

  <%= select_date(@search_date, :prefix=>"search_from") %>
  ～
  <%= select_date(@search_date, :prefix=>"search_to") %>

  <%= f.search_field :q %>
  <%= f.submit '検索' %>
<% end %>

<%= render 'list' %>

<%= link_to 'home', posts_path %> | <%= link_to 'New' , new_post_path %>


<div id='user_nav'>
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or
    <%= link_to "Sign in", new_user_session_path %>
  <% end %>
</div>


<script>
$(function() {
	setTimeout(function(){
		$('#notice').fadeOut("slow");
	}, 800);

	$(document).on('ajax:success', 'a[data-method="delete"]', function(e, data, status, xhr) {
		$('#post_'+data.post.id).fadeOut("slow");
	});

});

</script>